<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox</title>
    <link rel="shortcut icon" href="img/netflix-flavicon.png" type="image/jpg">
    <link rel="stylesheet" href="/css/contenido.css">
    <script src="/js/contenido.js" defer></script>
</head>
<body>
    <%- include('header') %>

    <div id="movies-cont" class="movies-cont container"></div>
</body>
</html>