<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ruta ajustada para archivos estáticos -->
    <link rel="shortcut icon" type="image/jpg" href="/public/img/netflix-flavicon.png" />
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <nav>
            <img src="/img/logo.png" alt="NetflixLogo" class="logo">
            <div>
                <a href="/cuenta">
                    <button>Iniciar sesión</button>
                </a>
            </div>
        </nav>
        <div class="contenido-headder">
            <h1>Todas las películas y series que desees, y mucho más.</h1>
            <h3>Disfruta donde quieras. Cancela cuando quieras.</h3>     
        </div>
    </div>

    <!-- ELEMENTOS -->
    <div class="elementos">
        <div class="fila">
            <div class="columna-texto">
                <h2>Disfruta de Netflox.</h2>
                <p>Smart TV, Playstation, Xbox, Chromecast, Apple TV, reproductores Blu-ray y muchos más.</p>
            </div>
            <div class="columna-imagen">
                <img src="/img/index/elemento1.png" alt="imagen1">
            </div>
        </div>
    </div>
    <div class="elementos">
        <div class="fila">
            <div class="columna-imagen">
                <img src="/img/index/elemento2.png" alt="imagen2">
            </div>
            <div class="columna-texto">
                <h2>Disfruta en todas partes.</h2>
                <p>Reproduce en streaming todas las películas y series en tu móvil, tableta, ordenador.</p>
            </div>
        </div>
    </div>
    <div class="elementos">
        <div class="fila">
            <div class="columna-texto">
                <h2>Crea perfiles infantiles.</h2>
                <p>Deja que los niños vivan aventuras con sus personajes favoritos en un espacio diseñado exclusivamente para ellos.</p>
            </div>
            <div class="columna-imagen">
                <img src="/img/index/elemento3.png" alt="imagen3">
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <h2>¿Preguntas? Llama al 449</h2>
        <div class="fila">
            <div class="columna">
                <a href="#">Solo en Netflox</a>
            </div>
            <div class="columna">
                <a href="/cuenta">Cuenta</a>
            </div>
            <div class="columna">
                <a href="https://fast.com/es/">Prueba de velocidad</a>
            </div>
        </div>
    </div>
</body>
</html>